annotated-types==0.7.0
asn1crypto==1.5.1
astunparse==1.6.3
atpublic==5.0
certifi==2024.8.30
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
cryptography==43.0.0
dbt==1.0.0.38.12
dlt==0.5.4
filelock==3.15.4
fsspec==2024.6.1
gitdb==4.0.11
gitpython==3.1.43
giturlparse==0.12.0
hexbytes==1.2.1
humanize==4.10.0
idna==3.8
jsonpath-ng==1.6.1
makefun==1.15.4
numpy==2.1.0
orjson==3.10.7
packaging==24.1
pandas==2.2.2
pathvalidate==3.2.1
pendulum==3.0.0
platformdirs==4.2.2
ply==3.11
pycparser==2.22
pydantic==2.8.2
pydantic-core==2.20.1
pyjwt==2.9.0
pyopenssl==24.2.1
python-dateutil==2.9.0.post0
pytz==2024.1
pyyaml==6.0.2
requests==2.32.3
requirements-parser==0.11.0
semver==3.0.2
setuptools==74.1.0
simplejson==3.19.3
six==1.16.0
smmap==5.0.1
snowflake==0.12.1
snowflake-connector-python==3.12.1
snowflake-core==0.12.1
snowflake-legacy==0.12.1
snowflake-snowpark-python==1.21.0
sortedcontainers==2.4.0
tenacity==9.0.0
time-machine==2.15.0
tomlkit==0.13.2
types-setuptools==74.0.0.20240831
typing-extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wheel==0.44.0
win-precise-time==1.4.2
